.nuevaTarea-panel{
    width: 50%;   
}

.nuevaTarea-panel .combo{
    width: 100%;
}

.nuevaTarea-panel .combo button{
    width: 100%;
    text-align: left;
}
.nuevaTarea-panel .combo button span{
    position: absolute;
    right: 10px;
    top: 15px;
}
.nuevaTarea-panel .combo ul{
    width: 100%;
    text-align: left;
}
.nuevaTarea-panel .combo ul li{
    padding: 5px 10px;
    cursor: pointer;
}
.nuevaTarea-panel .combo ul li:hover{
    background-color: rgba(0, 0, 0, 0.082);
}